.footer {
  /* position: absolute;
    bottom: 0;
    left: 0; */
  background: #25201d;
  width: 100%;
  min-height: 200px;
  color: #fff;
}
.footer-top,
.footer-bottom {
  width: 80%;
  margin: 0 auto;
}
.footer-con {
  width: 430px;
}
.footer-con h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.footer-con p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.subscribe input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  width: 90%;
  padding: 12px 10px;
  color: #fff;
  font-size: 14px;
}
.subscribe button {
  padding: 8px 12px;
  border-radius: 6px;
}
