.top-nav{
    border-bottom: 1px solid #eee;
}
.header, menu{
    background: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
}
.bottom-nav{
    box-shadow: 2px 3px 2px #eee;
}
.logo{
    width: 250px;
}
.navi li{
    margin: 0px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: #25201D;
}
menu ul li{
    font-size: 15px;
    text-transform: uppercase;
    color: #25201D;
}
.sp-link{
    background: orange;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 6px 15px;
    border-radius: 4px;
}